In [1]:
import pandas as pd

In [2]:
df_total = pd.read_excel('./2.WEEK2—case题目0428.xlsx',
                         sheet_name='总表',
                         header=0,
                         usecols='A:B',
                         dtype=str).fillna('')

df_total

             SKU    仓库
0        WS02863  美东仓库
1        WS02632  美西仓库
2      OFA294AEB  美西仓库
3      OFA583AFB  美西仓库
4       AIHAAA00  美东仓库
...          ...   ...
28426    GS70140  美南仓库
28427    GS71310  美南仓库
28428    GS68880  美南仓库
28429    GS07168  美南仓库
28430  OPK64529D  美东仓库

[28431 rows x 2 columns]

In [3]:
df_stock = pd.read_excel('./2.WEEK2—case题目0428.xlsx',
                         sheet_name='附3_库存表',
                         header=0,
                         usecols='A:I',
                         dtype=str).fillna('')

df_stock['在途'] = df_stock['在途'].astype(int)
df_stock['可售'] = df_stock['可售'].astype(int)

df_stock

            商品编码 4-25        商品中文名称  仓库代码    仓库  在途  可售 待出库 不良品  已出库
0           USOP64305           油底壳  USEA  美东仓库   8   0   0   0   83
1           USOP25053           油底壳  USEA  美东仓库   0   3   0   0   58
2           USSGPL002  Splash Guard  USEA  美东仓库   0   0   0   0  436
3           USOP97704           油底壳  USEA  美东仓库   3   1   0   0  218
4           USOP97705           油底壳  USEA  美东仓库   0   0   0   0   70
...               ...           ...   ...   ...  ..  ..  ..  ..  ...
76161    USABS25880-N       ABS 传感器  USWE  美西仓库   0   2   0   0    0
76162    USTHA02693-N           节温器  USWE  美西仓库   0   1   0   0    0
76163    USFP2368M0-N           燃油泵  USWE  美西仓库   0   1   0   0    0
76164  USBCB91380LR-N         刹车制动钳  USWE  美西仓库   0   1   0   0    0
76165     USDS36772-N           传动轴  USWE  美西仓库   0   1   0   0    0

[76166 rows x 9 columns]

In [4]:
df_stock['PTSKU'] = [sku[2:-2] if sku.endswith('-N') else sku[2:-2] if sku.endswith('-Y') else sku[2:] for sku in df_stock['商品编码 4-25'].tolist()]

df_stock

,商品编码 4-25,商品中文名称,仓库代码,仓库,在途,可售,待出库,不良品,已出库,PTSKU
0,USOP64305,油底壳,USEA,美东仓库,8,0,0,0,83,OP64305
1,USOP25053,油底壳,USEA,美东仓库,0,3,0,0,58,OP25053
2,USSGPL002,Splash Guard,USEA,美东仓库,0,0,0,0,436,SGPL002
3,USOP97704,油底壳,USEA,美东仓库,3,1,0,0,218,OP97704
4,USOP97705,油底壳,USEA,美东仓库,0,0,0,0,70,OP97705
...,...,...,...,...,...,...,...,...,...,...
76161,USABS25880-N,ABS 传感器,USWE,美西仓库,0,2,0,0,0,ABS25880
76162,USTHA02693-N,节温器,USWE,美西仓库,0,1,0,0,0,THA02693
76163,USFP2368M0-N,燃油泵,USWE,美西仓库,0,1,0,0,0,FP2368M0
76164,USBCB91380LR-N,刹车制动钳,USWE,美西仓库,0,1,0,0,0,BCB91380LR
76165,USDS36772-N,传动轴,USWE,美西仓库,0,1,0,0,0,DS36772

In [5]:
df_stock = df_stock[['PTSKU', '可售', '在途']]

df_stock

            PTSKU  可售  在途
0         OP64305   0   8
1         OP25053   3   0
2         SGPL002   0   0
3         OP97704   1   3
4         OP97705   0   0
...           ...  ..  ..
76161    ABS25880   2   0
76162    THA02693   1   0
76163    FP2368M0   1   0
76164  BCB91380LR   1   0
76165     DS36772   1   0

[76166 rows x 3 columns]

In [6]:
df_stock = df_stock.groupby([df_stock['PTSKU']], as_index=False).sum()

df_stock

          PTSKU  可售  在途
0      AAS64500   0  13
1      ABS00021   1  14
2      ABS00117   1   0
3      ABS00217   3   3
4      ABS00317   0   0
...         ...  ..  ..
30945   WVTO016   0   0
30946   WVTO017   0   0
30947   WVTO018   0   0
30948   WVTO020   0   0
30949   WVVW001   0   0

[30950 rows x 3 columns]

In [7]:
df_total = pd.merge(left=df_total,
                    right=df_stock,
                    how='left',
                    left_on='SKU',
                    right_on='PTSKU').fillna('')

df_total

             SKU    仓库      PTSKU     可售     在途
0        WS02863  美东仓库    WS02863  699.0    0.0
1        WS02632  美西仓库    WS02632  107.0  534.0
2      OFA294AEB  美西仓库  OFA294AEB  174.0   77.0
3      OFA583AFB  美西仓库  OFA583AFB  180.0  118.0
4       AIHAAA00  美东仓库   AIHAAA00   90.0  118.0
...          ...   ...        ...    ...    ...
28426    GS70140  美南仓库    GS70140    0.0   18.0
28427    GS71310  美南仓库    GS71310    0.0   10.0
28428    GS68880  美南仓库    GS68880    0.0   14.0
28429    GS07168  美南仓库    GS07168    0.0   18.0
28430  OPK64529D  美东仓库  OPK64529D    0.0    5.0

[28431 rows x 5 columns]

In [8]:
df_total = df_total[['SKU', '可售', '在途']]

df_total.columns = ['SKU', '在库', '在途']

df_total.to_excel('./answer_3.xlsx', index=False)

df_total

             SKU     在库     在途
0        WS02863  699.0    0.0
1        WS02632  107.0  534.0
2      OFA294AEB  174.0   77.0
3      OFA583AFB  180.0  118.0
4       AIHAAA00   90.0  118.0
...          ...    ...    ...
28426    GS70140    0.0   18.0
28427    GS71310    0.0   10.0
28428    GS68880    0.0   14.0
28429    GS07168    0.0   18.0
28430  OPK64529D    0.0    5.0

[28431 rows x 3 columns]

In [ ]:
# 另一种实现形式， from Miang

# for i in range(len(df_zongbiao)):
#     df_zongbiao.loc[i,'在库'] = (df_kucun[df_kucun['商品编码 4-25'] == "US"+df_zongbiao.loc[i,'SKU']]['可售'].sum()) + (df_kucun[df_kucun['商品编码 4-25'] == "US"+df_zongbiao.loc[i,'SKU']+"-N"]['可售'].sum()) + (df_kucun[df_kucun['商品编码 4-25'] == "US"+df_zongbiao.loc[i,'SKU']+"-Y"]['可售'].sum())
#     df_zongbiao.loc[i,'在途'] = (df_kucun[df_kucun['商品编码 4-25'] == "US"+df_zongbiao.loc[i,'SKU']]['在途'].sum()) + (df_kucun[df_kucun['商品编码 4-25'] == "US"+df_zongbiao.loc[i,'SKU']+"-N"]['在途'].sum()) + (df_kucun[df_kucun['商品编码 4-25'] == "US"+df_zongbiao.loc[i,'SKU']+"-Y"]['在途'].sum())