- Update: 2023.02.07

# 0. 配置参数

- `calculate`：what the fuck

In [1]:
calculate = '../../file/计算表-【每日断货汇报】US-Ebay 20230211.xlsx'

In [2]:
import pandas as pd

In [3]:
table_1 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,525.0,49.0,19.0,0.093333,0.036190,23.0,0.043810
1,TOP10,3792.0,240.0,169.0,0.063291,0.044568,136.0,0.035865
2,TOP20,8598.0,385.0,572.0,0.044778,0.066527,208.0,0.024192
3,普通,37461.0,1493.0,4069.0,0.039855,0.108620,838.0,0.022370
4,总数,50376.0,2167.0,4829.0,0.043017,0.095859,1205.0,0.023920

In [4]:
table_2 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）   断货无在途        占比  在库1-2（干预）  干预无在途      占比.1
0   TOP1      49.0    44.0  0.897959       19.0    0.0  0.000000
1  TOP10     240.0   205.0  0.854167      169.0   11.0  0.065089
2  TOP20     385.0   333.0  0.864935      572.0   28.0  0.048951
3     普通    1493.0  1311.0  0.878098     4069.0  145.0  0.035635
4     总数    2167.0  1893.0  0.873558     4829.0  184.0  0.038103

In [5]:
table_3 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W01,W02\n01/10,W02\n01/14,W03\n01/16,W05\n01/31,W05\n02/03,W06\n02/07,W06\n02/11
0,TOP1,63.0,75.0,54.0,54.0,49.0,42.0,38.0,49.0
1,TOP10,245.0,277.0,252.0,238.0,231.0,210.0,194.0,240.0
2,TOP20,362.0,438.0,379.0,377.0,377.0,352.0,415.0,385.0
3,普通,1514.0,1872.0,1700.0,1600.0,1419.0,1457.0,1816.0,1493.0
4,总数,2184.0,2662.0,2385.0,2269.0,2076.0,2061.0,2463.0,2167.0

In [6]:
table_4 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(28, 33)], index_col=0)

table_4

          品类  断货SKU数量  总SKU数      断货占比
排名
TOP1      BC      153   2789  0.054858
TOP2      CA      101   4322  0.023369
TOP3      HB       97   1128  0.085993
TOP4     ACC       95    476  0.199580
TOP5     ABS       95   1421  0.066854
...      ...      ...    ...       ...
TOP382   AEC        0    237  0.000000
TOP383   CAF        0    246  0.000000
TOP384   SPW        0    261  0.000000
TOP385   AEV        0    299  0.000000
TOP386  BRPS        0    394  0.000000

[386 rows x 4 columns]

In [7]:
sheet_2_left = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(5)], index_col=0)

sheet_2_left

               SKU     层级    周销  在途
序号
1     USACC10856-C   TOP1  1.25   0
2     USACC57328-C   TOP1  1.00   0
3    USACC58333S-C   TOP1  3.50   0
4     USACC58334-C   TOP1  1.10   0
5     USACC67661-C   TOP1  4.24   0
..             ...    ...   ...  ..
869      USWR82471  TOP20  1.12   0
870      USWS02540  TOP20  3.10   0
871     USWS08010X  TOP20  6.00   0
872     USWS22121X  TOP20  1.00   0
873      USWS4Y100  TOP20  2.50   0

[873 rows x 4 columns]

In [8]:
sheet_2_right = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(7, 9)], index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

       断货数
品类去重
CA    84.0
ACC   60.0
ICK   54.0
SA    46.0
ALT   41.0
...    ...
FAH    1.0
HLP    1.0
SDR    1.0
ID     1.0
CKC    1.0

[121 rows x 1 columns]

In [9]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(table_1.loc[4, '断货率']*100).split('.')[0] + '.' + str(round(table_1.loc[4, '断货率']*10000) - int(str(table_1.loc[4, '断货率']*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(max(table_1['断货率'])*100).split('.')[0] + '.' + str(round(max(table_1['断货率'])*10000) - int(str(max(table_1['断货率'])*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(max(table_1['干预率'])*100).split('.')[0] + '.' + str(round(max(table_1['干预率'])*10000) - int(str(max(table_1['干预率'])*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

2167; 4.30%; TOP1; 9.33%; 普通; 10.86%

= = = = = = = = = = = = = = = = = =

873; CA; ACC; ICK; 84; 60; 54

= = = = = = = = = = = = = = = = = =

45

In [10]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(table_2.loc[4, '占比']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比']*10000) - int(str(table_2.loc[4, '占比']*100).split('.')[0])*100) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(table_2.loc[4, '占比.1']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比.1']*10000) - int(str(table_2.loc[4, '占比.1']*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

2167; 1893; 87.36%; 4829; 184; 3.81%

= = = = = = = = = = = = = = = = = =

19; 0

In [11]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 11
TOP10: 46
TOP20: -30
普通: -323

In [12]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print('\n= = = = = = = = = = = = = = = = = =\n')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(max(table_4['断货占比'][:10])*100).split('.')[0] + '.' + str(round(max(table_4['断货占比'][:10])*10000) - int(str(max(table_4['断货占比'][:10])*100).split('.')[0])*100) + '%')

BC; 153

= = = = = = = = = = = = = = = = = =

ACC; 476; ACC; 95; 19.96%