In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./make.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
    
df.to_excel('./1.make.xlsx', index=False)

df

,Tab_Label,No.,Make,Url
0,Part Catalog,1,ABARTH,https://www.rockauto.com/en/catalog/abarth
1,Part Catalog,2,AC,https://www.rockauto.com/en/catalog/ac
2,Part Catalog,3,ACURA,https://www.rockauto.com/en/catalog/acura
3,Part Catalog,4,ALFA ROMEO,https://www.rockauto.com/en/catalog/alfa+romeo
4,Part Catalog,5,ALLARD,https://www.rockauto.com/en/catalog/allard
...,...,...,...,...
263,Part Catalog,264,WORKHORSE,https://www.rockauto.com/en/catalog/workhorse
264,Part Catalog,265,YELLOW CAB,https://www.rockauto.com/en/catalog/yellow+cab
265,Part Catalog,266,YUGO,https://www.rockauto.com/en/catalog/yugo
266,Part Catalog,267,ZACUA,https://www.rockauto.com/en/catalog/zacua
267,Part Catalog,268,ZUNDAPP,https://www.rockauto.com/en/catalog/zundapp