In [1]:
import os

In [2]:
list_file = list(os.walk('./'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
for file in list_file:
    if '计算表' in file:
        calculate = './' + file
        
print('calculate:      ' + calculate)

calculate:      ./计算表-【每日断货汇报】US-Ebay 20240323.xlsx

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(calculate,
                   sheet_name='附_1统计源（含新品、清仓、新品成长）',
                   header=3,
                   names=['SKU', '周销', '层级', '在库', '在途'],
                   usecols='C, D, F, L, M',
                   dtype=str).fillna('')

df['周销'] = df['周销'].astype(float)
df['在库'] = df['在库'].astype(int)
df['在途'] = df['在途'].astype(int)

df

                     SKU     周销     层级   在库   在途
0           USOBDAD100-C  43.40  TOP20  173  229
1      USTCV17215HIE-2-C  40.50   TOP1  603  102
2          USCAK14152U-C  25.17   TOP1  142  166
3             USOBDTK100  34.00  TOP10  261    0
4           USWS02632U-C   5.13   TOP1  401    0
...                  ...    ...    ...  ...  ...
68657         USWHN11008   0.00     普通    0    0
68658         USWHN11288   0.00     普通    0    8
68659         USWHN11236   0.00     普通    0    5
68660         USWHS10547   0.00     普通    0    0
68661        USWR590RR-C   0.00     普通   86    5

[68662 rows x 5 columns]

In [5]:
from datetime import datetime

In [6]:
df = df[(df['在库'] == 0) & (df['在途'] == 0) & (df['层级'] != '普通')].reset_index(drop=True)
df = df.sort_values(by=['层级', '周销', 'SKU'], ascending=[True, False, True])
df['序号'] = [i+1 for i in range(len(df))]
df = df[['序号', 'SKU', '层级', '周销']]

df.to_excel('./断货SKU_' + datetime.now().strftime("%Y%m%d_%H%M%S") + '.xlsx', index=False)

df

      序号            SKU     层级    周销
232    1   USCLK07233-C   TOP1  6.80
151    2   USCAK20944-C   TOP1  5.80
154    3     USPSK05001   TOP1  5.10
145    4  USSA85066-1-C   TOP1  5.10
183    5      USET81870   TOP1  4.67
..   ...            ...    ...   ...
278  398    USCA49391-C  TOP20  0.00
317  399    USDS46500-C  TOP20  0.00
316  400    USDS76959-C  TOP20  0.00
261  401    USSTB0TE005  TOP20  0.00
136  402   USSTR18398-C  TOP20  0.00

[402 rows x 4 columns]