In [1]:
import os
import datetime

In [2]:
list_file = list(os.walk('./'))[0][2]
for file in list_file:
    if '计算表' in file:
        calculate = file

print(f'calculate: \t{calculate}')

calculate: 	计算表-【每日断货汇报】US-Ebay 20231122.xlsx

In [3]:
import pandas as pd

In [4]:
table_1 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,1077.0,126.0,95.0,0.116992,0.088208,41.0,0.038069
1,TOP10,3741.0,488.0,423.0,0.130446,0.113071,190.0,0.050789
2,TOP20,8746.0,1210.0,1188.0,0.138349,0.135834,448.0,0.051223
3,普通,49818.0,4008.0,8555.0,0.080453,0.171725,2008.0,0.040307
4,总数,63382.0,5832.0,10261.0,0.092014,0.161891,2687.0,0.042394

In [5]:
table_2 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）   断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1     126.0    33.0  0.261905       95.0    26.0  0.273684
1  TOP10     488.0   148.0  0.303279      423.0    86.0  0.203310
2  TOP20    1210.0   287.0  0.237190     1188.0   226.0  0.190236
3     普通    4008.0  1354.0  0.337824     8555.0  3974.0  0.464524
4     总数    5832.0  1822.0  0.312414    10261.0  4312.0  0.420232

In [6]:
table_3 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W39\n09/27,W41\n10/09,W42\n10/17,W43\n10/24,W44\n10/31,W45\n11/10,W46\n11/15,W47\n11/22
0,TOP1,83.0,62.0,71.0,59.0,51.0,63.0,89.0,126.0
1,TOP10,168.0,140.0,161.0,169.0,136.0,138.0,193.0,488.0
2,TOP20,374.0,308.0,326.0,339.0,294.0,348.0,435.0,1210.0
3,普通,3711.0,3795.0,4144.0,4215.0,4066.0,4321.0,4899.0,4008.0
4,总数,4336.0,4305.0,4702.0,4782.0,4547.0,4870.0,5616.0,5832.0

In [7]:
table_4 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(28, 33)],
                        index_col=0)

table_4

         品类  断货SKU数量  总SKU数      断货占比
排名
TOP1     CA      710   4800  0.147917
TOP2     BC      427   3051  0.139954
TOP3    CVA      243   2165  0.112240
TOP4     WR      177   2129  0.083138
TOP5    PSH      174   2227  0.078132
...     ...      ...    ...       ...
TOP447   RR        0    105  0.000000
TOP448  ODH        0    124  0.000000
TOP449  CCT        0    131  0.000000
TOP450   ID        0    142  0.000000
TOP451  PBC        0    524  0.000000

[451 rows x 4 columns]

In [8]:
sheet_2_left = pd.read_excel(calculate,
                             sheet_name='2_断货SKU',
                             header=1,
                             usecols=[i for i in range(5)],
                             index_col=0)

sheet_2_left

                SKU     层级    周销  在途
序号
1    USACC06390S-C1   TOP1  2.55   0
2     USACC11267-C1   TOP1  3.43   0
3     USACC11340-C1   TOP1  1.41   0
4    USACC1U500S-C1   TOP1  2.55   0
5     USACC29136-C1   TOP1  3.82   0
..              ...    ...   ...  ..
474    USWR49320DHY  TOP20  0.85   0
475       USWR49322  TOP20  1.27   0
476    USWRM41345-C  TOP20  1.06   0
477   USWRM51293H-C  TOP20  0.66   0
478    USWS00854Y-C  TOP20  0.37   0

[478 rows x 4 columns]

In [9]:
sheet_2_right = pd.read_excel(calculate,
                              sheet_name='2_断货SKU',
                              header=1,
                              usecols=[i for i in range(7, 9)],
                              index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

       断货数
品类去重
ACC   93.0
CA    72.0
BC    37.0
STR   19.0
CVA   19.0
...    ...
DLA    1.0
EAF    1.0
FC     1.0
FFA    1.0
WS     1.0

[81 rows x 1 columns]

In [10]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(round(table_1.loc[4, '断货率']*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(round(max(table_1['断货率'])*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(round(max(table_1['干预率'])*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

5832; 9.2%; TOP20; 13.83%; 普通; 17.17%

= = = = = = = = = = = = = = = = = =

478; ACC; CA; BC; 93; 72; 37

= = = = = = = = = = = = = = = = = =

33

In [11]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(round(table_2.loc[4, '占比']*100, 2)) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(round(table_2.loc[4, '占比.1']*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

5832; 1822; 31.24%; 10261; 4312; 42.02%

= = = = = = = = = = = = = = = = = =

95; 26

In [12]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 37
TOP10: 295
TOP20: 775
普通: -891

In [13]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(round(max(table_4['断货占比'][:10])*100, 2)) + '%')

CA; 710

= = = = = = = = = = = = = = = = = =

CA; 4800; CA; 710; 14.79%

In [14]:
共23款TOP1层级SKU库存1-2，且有1款无在途。

SyntaxError: invalid decimal literal (150014678.py, line 1)

In [ ]:
（1）与W24周（06/17）相比，W26周（07/01）TOP1断货有所上升，达3款；
（2）TOP10、TOP20和普通层级断货有所下降，其中普通层级断货下降最多，达73款。

In [ ]:
（1）W27周（07/07）断货整体比W27周（07/05）有所下降，其中普通层级断货下降最多，达183款；
（2）在重点SKU（TOP1、TOP10、TOP20）中，TOP10断货下降最多，达17款。