In [1]:
import os

In [2]:
list_file = list(os.walk('./'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
for file in list_file:
    if '计算表' in file and '~' not in file:
        calculate = './' + file

print('calculate:      ' + calculate)

calculate:      ./计算表-【每日断货汇报】US-Ebay 20240323.xlsx

In [3]:
import pandas as pd

In [4]:
table_1 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols='B:I').loc[:4]

table_1[table_1.columns[0]] = table_1[table_1.columns[0]].astype(str)
table_1[table_1.columns[1]] = table_1[table_1.columns[1]].astype(int)
table_1[table_1.columns[2]] = table_1[table_1.columns[2]].astype(int)
table_1[table_1.columns[3]] = table_1[table_1.columns[3]].astype(int)
table_1[table_1.columns[4]] = table_1[table_1.columns[4]].astype(float)
table_1[table_1.columns[5]] = table_1[table_1.columns[5]].astype(float)
table_1[table_1.columns[6]] = table_1[table_1.columns[6]].astype(int)
table_1[table_1.columns[7]] = table_1[table_1.columns[7]].astype(float)

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,726,65,31,0.089532,0.042700,18,0.024793
1,TOP10,2710,399,222,0.147232,0.081919,100,0.036900
2,TOP20,5200,886,529,0.170385,0.101731,286,0.055000
3,普通,60026,5256,8948,0.087562,0.149069,2366,0.039416
4,总数,68662,6606,9730,0.096210,0.141709,2770,0.040343

In [5]:
table_2 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols='K:Q').loc[:4]

table_2[table_2.columns[0]] = table_2[table_2.columns[0]].astype(str)
table_2[table_2.columns[1]] = table_2[table_2.columns[1]].astype(int)
table_2[table_2.columns[2]] = table_2[table_2.columns[2]].astype(int)
table_2[table_2.columns[3]] = table_2[table_2.columns[3]].astype(float)
table_2[table_2.columns[4]] = table_2[table_2.columns[4]].astype(int)
table_2[table_2.columns[5]] = table_2[table_2.columns[5]].astype(int)
table_2[table_2.columns[6]] = table_2[table_2.columns[6]].astype(float)

table_2

    层级.1  在库为0（断货）  断货无在途        占比  在库1-2（干预）  干预无在途      占比.1
0   TOP1        65     18  0.276923         31      7  0.225806
1  TOP10       399    100  0.250627        222     36  0.162162
2  TOP20       886    284  0.320542        529    104  0.196597
3     普通      5256   2366  0.450152       8948   4223  0.471949
4     总数      6606   2768  0.419013       9730   4370  0.449126

In [6]:
table_3 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols='S:AA').loc[:4]

table_3[table_3.columns[0]] = table_3[table_3.columns[0]].astype(str)
table_3[table_3.columns[1]] = table_3[table_3.columns[1]].astype(int)
table_3[table_3.columns[2]] = table_3[table_3.columns[2]].astype(int)
table_3[table_3.columns[3]] = table_3[table_3.columns[3]].astype(int)
table_3[table_3.columns[4]] = table_3[table_3.columns[4]].astype(int)
table_3[table_3.columns[5]] = table_3[table_3.columns[5]].astype(int)
table_3[table_3.columns[6]] = table_3[table_3.columns[6]].astype(int)
table_3[table_3.columns[7]] = table_3[table_3.columns[7]].astype(int)
table_3[table_3.columns[8]] = table_3[table_3.columns[8]].astype(int)

table_3

,层级.2,W04\n01/24,W05\n01/30,W06\n02/06,W08\n02/20,W09\n02/27,W10\n03/05,W11\n03/12,W12\n03/23
0,TOP1,64,73,71,77,62,72,65,65
1,TOP10,284,296,320,339,317,425,231,399
2,TOP20,636,663,726,710,680,912,512,886
3,普通,2755,2940,3019,2922,2848,2499,3326,5256
4,总数,3739,3972,4136,4048,3907,3908,4134,6606

In [7]:
table_4 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols='AC:AG')

table_4[table_4.columns[0]] = table_4[table_4.columns[0]].astype(str)
table_4[table_4.columns[1]] = table_4[table_4.columns[1]].astype(str)
table_4[table_4.columns[2]] = table_4[table_4.columns[2]].astype(int)
table_4[table_4.columns[3]] = table_4[table_4.columns[3]].astype(int)
table_4[table_4.columns[4]] = table_4[table_4.columns[4]].astype(float)

table_4 = table_4.sort_values(by=['断货SKU数量', '总SKU数', '品类'], ascending=[False, True, True]).reset_index(drop=True)

table_4 = table_4[:10]

table_4

      排名   品类  断货SKU数量  总SKU数      断货占比
0   TOP1   CA      751   5272  0.142451
1   TOP2   BC      346   3262  0.106070
2   TOP3  CVA      306   2244  0.136364
3   TOP4   SA      287   1972  0.145538
4   TOP5   GS      165   1647  0.100182
5   TOP6   WS      161    623  0.258427
6   TOP7   WR      153   2131  0.071797
7   TOP8  ALT      152   1129  0.134632
8   TOP9  PSH      151   2228  0.067774
9  TOP10  EOF      133    183  0.726776

In [8]:
table_5 = pd.read_excel(calculate,
                        sheet_name='2_断货SKU',
                        header=1,
                        usecols='A:D')

table_5[table_5.columns[0]] = table_5[table_5.columns[0]].astype(int)
table_5[table_5.columns[1]] = table_5[table_5.columns[1]].astype(str)
table_5[table_5.columns[2]] = table_5[table_5.columns[2]].astype(str)
table_5[table_5.columns[3]] = table_5[table_5.columns[3]].astype(float)

table_5 = table_5.sort_values(by=['层级', '周销', 'SKU'], ascending=[True, False, True]).reset_index(drop=True)

table_5

      序号            SKU     层级    周销
0      1   USCLK07233-C   TOP1  6.80
1      2   USCAK20944-C   TOP1  5.80
2      3     USPSK05001   TOP1  5.10
3      4  USSA85066-1-C   TOP1  5.10
4      5      USET81870   TOP1  4.67
..   ...            ...    ...   ...
397  398    USCA49391-C  TOP20  0.00
398  399    USDS46500-C  TOP20  0.00
399  400    USDS76959-C  TOP20  0.00
400  401    USSTB0TE005  TOP20  0.00
401  402   USSTR18398-C  TOP20  0.00

[402 rows x 4 columns]

In [10]:
table_6 = pd.read_excel(calculate,
                        sheet_name='2_断货SKU',
                        header=1,
                        usecols='G:H').dropna()

table_6[table_6.columns[0]] = table_6[table_6.columns[0]].astype(str)
table_6[table_6.columns[1]] = table_6[table_6.columns[1]].astype(int)

table_6 = table_6.sort_values(by=['断货数', '品类去重'], ascending=[False, True]).reset_index(drop=True)

table_6

    品类去重  断货数
0     CA   39
1    CVA   24
2     BC   23
3    ACC   20
4   BRPR   20
..   ...  ...
74    RH    0
75    RR    0
76   TCK    0
77  TPMS    0
78   WSP    0

[79 rows x 2 columns]

In [11]:
print(table_1.loc[4, '在库为0（断货数）'], end='; ')
print(str(round(table_1.loc[4, '断货率']*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(round(max(table_1['断货率'])*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(round(max(table_1['干预率'])*100, 2)) + '%')
print()
print('# = = = = = = = = = = = = = = =')
print()
print(len(table_5), end='; ')
list_ = [0, 1, 2]
start = 3
while True:
    if table_6.loc[start, '断货数'] == table_6.loc[2, '断货数']:
        list_.append(start)
        start += 1
    else:
        break
        
for i in list_:
    print(table_6.loc[i, '品类去重'], end='; ')
for i in list_[:-1]:
    print(table_6.loc[i, '断货数'], end='; ')
print(table_6.loc[list_[-1], '断货数'])
print()
print('# = = = = = = = = = = = = = = =')
print()
print(len(table_5[table_5['层级']=='TOP1']))

6606; 9.62%; TOP20; 17.04%; 普通; 14.91%

# = = = = = = = = = = = = = = =

402; CA; CVA; BC; 39; 24; 23

# = = = = = = = = = = = = = = =

18

In [12]:
print(table_2.loc[4, '在库为0（断货）'], end='; ')
print(table_2.loc[4, '断货无在途'], end='; ')
print(str(round(table_2.loc[4, '占比']*100, 2)) + '%', end='; ')
print(table_2.loc[4, '在库1-2（干预）'], end='; ')
print(table_2.loc[4, '干预无在途'], end='; ')
print(str(round(table_2.loc[4, '占比.1']*100, 2)) + '%')
print()
print('# = = = = = = = = = = = = = = =')
print()
print(table_2.loc[0, '在库1-2（干预）'], end='; ')
print(table_2.loc[0, '干预无在途'])

6606; 2768; 41.9%; 9730; 4370; 44.91%

# = = = = = = = = = = = = = = =

31; 7

In [13]:
print('TOP1: ' + str(table_3.iloc[0, 8] - table_3.iloc[0, 7]))
print('TOP10: ' + str(table_3.iloc[1, 8] - table_3.iloc[1, 7]))
print('TOP20: ' + str(table_3.iloc[2, 8] - table_3.iloc[2, 7]))
print('普通: ' + str(table_3.iloc[3, 8] - table_3.iloc[3, 7]))
# = = = = = = = = = = = = = = =
# （1）与W24周（06/17）相比，W26周（07/01）TOP1断货有所上升，达3款；
# （2）TOP10、TOP20和普通层级断货有所下降，其中普通层级断货下降最多，达73款。
# = = = = = = = = = = = = = = =
# （1）W27周（07/07）断货整体比W27周（07/05）有所下降，其中普通层级断货下降最多，达183款；
# （2）在重点SKU（TOP1、TOP10、TOP20）中，TOP10断货下降最多，达17款。

TOP1: 0
TOP10: 168
TOP20: 374
普通: 1930

In [14]:
print(table_4.loc[0, '品类'], end='; ')
print(table_4.loc[0, '断货SKU数量'])
print()
print('# = = = = = = = = = = = = = = =')
print()
print(table_4.loc[table_4['断货占比'].tolist().index(max(table_4['断货占比'])), '品类'], end='; ')
print(table_4.loc[table_4['断货占比'].tolist().index(max(table_4['断货占比'])), '总SKU数'], end='; ')
print(table_4.loc[table_4['断货占比'].tolist().index(max(table_4['断货占比'])), '品类'], end='; ')
print(table_4.loc[table_4['断货占比'].tolist().index(max(table_4['断货占比'])), '断货SKU数量'], end='; ')
print(str(round(max(table_4['断货占比'])*100, 2)) + '%')

CA; 751

# = = = = = = = = = = = = = = =

EOF; 183; EOF; 133; 72.68%