In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

32

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df[['Page', 'No.', 'Part_Number', 'Url']]
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)

df

Progress: 100%|████████████████████████████| 32/32 [00:00<00:00, 1156.86it/s]

      Page  No. Part_Number                                                Url
0        1    1       A2041  https://portal.thepartshq.com/marmon-ride-cont...
1        1    2       A2053  https://portal.thepartshq.com/marmon-ride-cont...
2        1    3       A2091  https://portal.thepartshq.com/marmon-ride-cont...
3        1    4       A2092  https://portal.thepartshq.com/marmon-ride-cont...
4        1    5       A2120  https://portal.thepartshq.com/marmon-ride-cont...
...    ...  ...         ...                                                ...
2479    31   80       AM715  https://portal.thepartshq.com/marmon-ride-cont...
2480    32    1       AM900  https://portal.thepartshq.com/marmon-ride-cont...
2481    32    2     AM906HY  https://portal.thepartshq.com/marmon-ride-cont...
2482    32    3       AM918  https://portal.thepartshq.com/marmon-ride-cont...
2483    32    4       AM924  https://portal.thepartshq.com/marmon-ride-cont...

[2484 rows x 4 columns]

In [7]:
df = df.drop_duplicates(['Part_Number'], keep='first').reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

,Page,No.,Part_Number,Url
0,1,1,A2041,https://portal.thepartshq.com/marmon-ride-cont...
1,1,2,A2053,https://portal.thepartshq.com/marmon-ride-cont...
2,1,3,A2091,https://portal.thepartshq.com/marmon-ride-cont...
3,1,4,A2092,https://portal.thepartshq.com/marmon-ride-cont...
4,1,5,A2120,https://portal.thepartshq.com/marmon-ride-cont...
...,...,...,...,...
2479,31,2480,AM715,https://portal.thepartshq.com/marmon-ride-cont...
2480,32,2481,AM900,https://portal.thepartshq.com/marmon-ride-cont...
2481,32,2482,AM906HY,https://portal.thepartshq.com/marmon-ride-cont...
2482,32,2483,AM918,https://portal.thepartshq.com/marmon-ride-cont...
2483,32,2484,AM924,https://portal.thepartshq.com/marmon-ride-cont...