In [1]:
import os

os.makedirs('./file/4.model')

In [2]:
import pandas as pd

input_ = pd.read_excel('./file/3.model.xlsx',
                       header=0,
                       dtype=str).fillna('')

input_['Year'] = input_['Year'].astype(int)

input_

             Make Make Code         Model Model Code  Year
0              AC       457  Shelby Cobra      21378  1971
1              AC       457  Shelby Cobra      21378  1970
2              AC       457  Shelby Cobra      21378  1969
3      AM General        44           DJ5       2192  1974
4      AM General        44           DJ5       2192  1973
...           ...       ...           ...        ...   ...
48846        Yugo        15           GVL         76  1988
48847        Yugo        15           GVS         77  1988
48848        Yugo        15           GVX         78  1989
48849        Yugo        15           GVX         78  1988
48850        Yugo        15           GVX         78  1987

[48851 rows x 5 columns]

In [3]:
input_2 = input_.drop_duplicates(['Make'],
                                 keep='first',
                                 ignore_index=True)
input_2 = input_2.sort_values(by=['Make'],
                              ascending=[True],
                              ignore_index=True)

input_2['File Make'] = [_.strip().replace('/', '%2F').replace('\\', '%5C') for _ in input_2['Make'].tolist()]

input_2

,Make,Make Code,Model,Model Code,Year,File Make
0,AC,457,Shelby Cobra,21378,1971,AC
1,AM General,44,DJ5,2192,1974,AM General
2,AMERTEK,5501416,CF4000L,5542122,1993,AMERTEK
3,ATC,5501429,T815,5601555,2008,ATC
4,Acura,58,CL,741,2003,Acura
...,...,...,...,...,...,...
191,Willys,459,440,6465,1940,Willys
192,Winnebago,1373,Adventurer,29878,2010,Winnebago
193,Workhorse,608,CP30542,5857564,2003,Workhorse
194,Workhorse Custom Chassis,1297,P32,21623,2007,Workhorse Custom Chassis
195,Yugo,15,Cabrio,79,1992,Yugo

In [4]:
from tqdm import tqdm

for i in tqdm(range(len(input_2)), desc='Progress', ncols=77):
    output = input_[input_['Make'] == input_2.loc[i, 'Make']].reset_index(drop=True)
    output = output.sort_values(by=['Model', 'Year'],
                                ascending=[True, False],
                                ignore_index=True)

    output.to_excel(f'''./file/4.model/make_{i+1}.{input_2.loc[i, 'File Make']}.xlsx''', index=False)

print('Done ~')

Progress: 100%|████████████████████████████| 196/196 [00:25<00:00,  7.56it/s]

Done ~