- Update: 2023.01.31

# 0. 配置参数

- `calculate`：what the fuck

In [1]:
calculate = '../../file/计算表-【每日断货汇报】US-Ebay 20230131.xlsx'

In [2]:
import pandas as pd

In [3]:
table_1 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,525.0,49.0,19.0,0.093333,0.036190,25.0,0.047619
1,TOP10,3780.0,231.0,183.0,0.061111,0.048413,130.0,0.034392
2,TOP20,8546.0,377.0,545.0,0.044114,0.063773,221.0,0.025860
3,普通,37067.0,1419.0,4180.0,0.038282,0.112769,746.0,0.020126
4,总数,49918.0,2076.0,4927.0,0.041588,0.098702,1122.0,0.022477

In [4]:
table_2 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）  断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1      49.0   18.0  0.367347       19.0     4.0  0.210526
1  TOP10     231.0   85.0  0.367965      183.0    57.0  0.311475
2  TOP20     377.0  145.0  0.384615      545.0   177.0  0.324771
3     普通    1419.0  529.0  0.372798     4180.0  1956.0  0.467943
4     总数    2076.0  777.0  0.374277     4927.0  2194.0  0.445301

In [5]:
table_3 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W47,W48,W49,W01,W02\n01/10,W02\n01/14,W03\n01/16,W05\n01/31
0,TOP1,47.0,47.0,47.0,63.0,75.0,54.0,54.0,49.0
1,TOP10,223.0,215.0,172.0,245.0,277.0,252.0,238.0,231.0
2,TOP20,414.0,404.0,314.0,362.0,438.0,379.0,377.0,377.0
3,普通,1447.0,1412.0,1488.0,1514.0,1872.0,1700.0,1600.0,1419.0
4,总数,2131.0,2078.0,2021.0,2184.0,2662.0,2385.0,2269.0,2076.0

In [6]:
table_4 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(28, 33)], index_col=0)

table_4

          品类  断货SKU数量  总SKU数      断货占比
排名
TOP1      BC      167   2789  0.059878
TOP2      WR      104   1889  0.055056
TOP3     ACC       97    476  0.203782
TOP4      GS       96   1313  0.073115
TOP5      HB       92   1128  0.081560
...      ...      ...    ...       ...
TOP382   CAF        0    242  0.000000
TOP383   SPW        0    261  0.000000
TOP384   AEV        0    299  0.000000
TOP385  BRPS        0    332  0.000000
TOP386   EAF        0    646  0.000000

[386 rows x 4 columns]

In [7]:
sheet_2_left = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(5)], index_col=0)

sheet_2_left

               SKU     层级    周销  在途
序号
1     USACC57328-C   TOP1  1.00   0
2     USACC67661-C   TOP1  4.24   0
3     USACC68184-C   TOP1  4.10   0
4    USACC98332S-C   TOP1  3.75   0
5    USALT11252B-C   TOP1  5.00   0
..             ...    ...   ...  ..
253      USWP04000  TOP20  2.40   0
254      USWP72360  TOP20  1.70   0
255      USWR41948  TOP20  1.70   0
256      USWR82471  TOP20  1.12   0
257     USWS22121X  TOP20  1.00   0

[257 rows x 4 columns]

In [8]:
sheet_2_right = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(7, 9)], index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

       断货数
品类去重
ACC   40.0
ALT   26.0
STR   15.0
CVA   11.0
RAD   11.0
...    ...
CSA    1.0
ET     1.0
FFP    1.0
FP     1.0
VCS    1.0

[63 rows x 1 columns]

In [9]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(table_1.loc[4, '断货率']*100).split('.')[0] + '.' + str(round(table_1.loc[4, '断货率']*10000) - int(str(table_1.loc[4, '断货率']*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(max(table_1['断货率'])*100).split('.')[0] + '.' + str(round(max(table_1['断货率'])*10000) - int(str(max(table_1['断货率'])*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(max(table_1['干预率'])*100).split('.')[0] + '.' + str(round(max(table_1['干预率'])*10000) - int(str(max(table_1['干预率'])*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

2076; 4.16%; TOP1; 9.33%; 普通; 11.28%

= = = = = = = = = = = = = = = = = =

257; ACC; ALT; STR; 40; 26; 15

= = = = = = = = = = = = = = = = = =

19

In [10]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(table_2.loc[4, '占比']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比']*10000) - int(str(table_2.loc[4, '占比']*100).split('.')[0])*100) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(table_2.loc[4, '占比.1']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比.1']*10000) - int(str(table_2.loc[4, '占比.1']*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

2076; 777; 37.43%; 4927; 2194; 44.53%

= = = = = = = = = = = = = = = = = =

19; 4

In [11]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: -5
TOP10: -7
TOP20: 0
普通: -181

In [12]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print('\n= = = = = = = = = = = = = = = = = =\n')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(max(table_4['断货占比'][:10])*100).split('.')[0] + '.' + str(round(max(table_4['断货占比'][:10])*10000) - int(str(max(table_4['断货占比'][:10])*100).split('.')[0])*100) + '%')

BC; 167

= = = = = = = = = = = = = = = = = =

ACC; 476; ACC; 97; 20.38%