- Update: 2023.01.16

# 0. 配置参数

- `calculate`：what the fuck

In [1]:
calculate = '../../file/计算表-【每日断货汇报】US-Ebay 20230116.xlsx'

In [2]:
import pandas as pd

In [3]:
table_1 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,525.0,54.0,30.0,0.102857,0.057143,26.0,0.049524
1,TOP10,3747.0,238.0,197.0,0.063517,0.052575,112.0,0.029891
2,TOP20,8495.0,377.0,571.0,0.044379,0.067216,181.0,0.021307
3,普通,36763.0,1600.0,4286.0,0.043522,0.116585,719.0,0.019558
4,总数,49530.0,2269.0,5084.0,0.045811,0.102645,1038.0,0.020957

In [4]:
table_2 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）  断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1      54.0   19.0  0.351852       30.0     8.0  0.266667
1  TOP10     238.0   86.0  0.361345      197.0    55.0  0.279188
2  TOP20     377.0  136.0  0.360743      571.0   177.0  0.309982
3     普通    1600.0  470.0  0.293750     4286.0  1845.0  0.430471
4     总数    2269.0  711.0  0.313354     5084.0  2085.0  0.410110

In [5]:
table_3 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W46,W47,W48,W49,W01,W02\n01/10,W02\n01/14,W03\n01/16
0,TOP1,60.0,47.0,47.0,47.0,63.0,75.0,54.0,54.0
1,TOP10,247.0,223.0,215.0,172.0,245.0,277.0,252.0,238.0
2,TOP20,542.0,414.0,404.0,314.0,362.0,438.0,379.0,377.0
3,普通,1808.0,1447.0,1412.0,1488.0,1514.0,1872.0,1700.0,1600.0
4,总数,2657.0,2131.0,2078.0,2021.0,2184.0,2662.0,2385.0,2269.0

In [6]:
table_4 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(28, 33)], index_col=0)

table_4

          品类  断货SKU数量  总SKU数      断货占比
排名
TOP1      BC      211   2789  0.075654
TOP2      WR      133   1888  0.070445
TOP3     ABS      126   1421  0.088670
TOP4     ACC      114    476  0.239496
TOP5      HB      104   1128  0.092199
...      ...      ...    ...       ...
TOP378   AEV        0    299  0.000000
TOP379  BRPS        0    332  0.000000
TOP380   BRR        0    388  0.000000
TOP381   EAF        0    624  0.000000
TOP382   BHH        0   2652  0.000000

[382 rows x 4 columns]

In [7]:
sheet_2_left = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(5)], index_col=0)

sheet_2_left

               SKU     层级    周销  在途
序号
1     USACC10856-C   TOP1  1.25   0
2     USACC57328-C   TOP1  1.00   0
3    USACC58333S-C   TOP1  3.50   0
4     USACC67661-C   TOP1  4.24   0
5     USACC68184-C   TOP1  4.10   0
..             ...    ...   ...  ..
246      USTS27873  TOP20  0.00   0
247      USWP04000  TOP20  2.40   0
248      USWP72360  TOP20  1.70   0
249      USWR41021  TOP20  1.00   0
250     USWS22121X  TOP20  1.00   0

[250 rows x 4 columns]

In [8]:
sheet_2_right = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(7, 9)], index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

       断货数
品类去重
ACC   48.0
ALT   19.0
CA    11.0
STR   10.0
SA     9.0
...    ...
BMR    1.0
BDA    1.0
ASM    1.0
WS     1.0
CHC    0.0

[63 rows x 1 columns]

In [9]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(table_1.loc[4, '断货率']*100).split('.')[0] + '.' + str(round(table_1.loc[4, '断货率']*10000) - int(str(table_1.loc[4, '断货率']*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(max(table_1['断货率'])*100).split('.')[0] + '.' + str(round(max(table_1['断货率'])*10000) - int(str(max(table_1['断货率'])*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(max(table_1['干预率'])*100).split('.')[0] + '.' + str(round(max(table_1['干预率'])*10000) - int(str(max(table_1['干预率'])*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

2269; 4.58%; TOP1; 10.29%; 普通; 11.66%

= = = = = = = = = = = = = = = = = =

250; ACC; ALT; CA; 48; 19; 11

= = = = = = = = = = = = = = = = = =

20

In [10]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(table_2.loc[4, '占比']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比']*10000) - int(str(table_2.loc[4, '占比']*100).split('.')[0])*100) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(table_2.loc[4, '占比.1']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比.1']*10000) - int(str(table_2.loc[4, '占比.1']*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

2269; 711; 31.34%; 5084; 2085; 41.1%

= = = = = = = = = = = = = = = = = =

30; 8

In [11]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 0
TOP10: -14
TOP20: -2
普通: -100

In [12]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print('\n= = = = = = = = = = = = = = = = = =\n')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(max(table_4['断货占比'][:10])*100).split('.')[0] + '.' + str(round(max(table_4['断货占比'][:10])*10000) - int(str(max(table_4['断货占比'][:10])*100).split('.')[0])*100) + '%')

BC; 211

= = = = = = = = = = = = = = = = = =

ACC; 476; ACC; 114; 23.95%